# -----------------------------
# default
# -----------------------------
.git
.gitignore
*.log
*.md
.DS_Store
*.iml

# -----------------------------
# IDE 관련
# -----------------------------
.idea/
.vscode/
*.swp

# -----------------------------
# OS/툴 관련 캐시
# -----------------------------
Thumbs.db
ehthumbs.db
desktop.ini

# -----------------------------
# Gradle 빌드 결과물 및 캐시
# -----------------------------
build/
!build/libs/*.jar
.gradle/
!gradle/wrapper/gradle-wrapper.jar
.gradle/

# -----------------------------
# 환경/인증 관련 (보안 목적)
# -----------------------------
.env
*.pem
*.crt
*.key

# -----------------------------
# 테스트/커버리지
# -----------------------------
test-results/
test-output/
jacoco*.exec
coverage/
*.html
*.xml
*.json
