<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org">
<title>header</title>
<th:block th:fragment="header">
    <meta charset="utf-8" />
    <meta name="ctx" th:content="${contextPath}" />
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/res/css/app.css}" />
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/res/css/font-awesome.css}" />
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/res/css/ext/swiper.css}" />
</th:block>

</html>