<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="itemDetail(item)">
    <div id="popoverContent" class="d-none">
        <div class="card mb-3">
            <div class="border-1">
                <p class="text-center" th:text="${item.itemDisplayName}"></p>
                <th:block th:replace="fragments/option/option-attribute :: section(${item})" />
                <th:block th:replace="fragments/option/option-enchant :: section(${item})" />
                <th:block th:replace="fragments/option/option-upgrade :: section(${item})" />
                <th:block th:replace="fragments/option/option-artifact :: section(${item})" />
                <th:block th:replace="fragments/option/option-erg :: section(${item})" />
                <th:block th:replace="fragments/option/option-set :: section(${item})" />
                <th:block th:replace="fragments/option/option-color :: section(${item})" />
            </div>
        </div>
    </div>
</th:block>
</body>
</html>