<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer template</title>
</head>

<body>
    <th:block th:fragment="scripts" class="py-4 bg-light mt-auto">
        <!--  라이브러리  -->
        <script th:src="@{/res/js/ext/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/res/js/ext/moment.min.js}"></script>
        <script th:src="@{/res/js/ext/moment-with-locales.min.js}"></script>
    </th:block>
</body>

</html>
