<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org">
<title>ajax</title>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="spinner"
     id="spinnerOverlay" class="spinner-overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="spinner-part(seq)"
     th:id="'spinnerOverlay'+${seq}" class="spinner-overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="spinner-part-d-none(seq)"
     th:id="'spinnerOverlay'+${seq}" class="spinner-overlay" style="display: none">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
</html>
