<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="section(item)">
    <div class="position-relative border rounded p-4 mt-3 m-1"
         th:if="${!#lists.isEmpty(item.itemOptions.?[optionType == '에르그'])}">
        <span class="option-label">에르그</span>
        <div th:each="option : ${item.itemOptions}">
            <p th:if="${option.optionType == '에르그'}">
                <span th:text="${option.optionType}"></span>
                <span th:text="${option.optionSubType}"></span>
                <span th:text="${option.optionValue}"></span>
                <span th:text="${option.optionValue2}"></span>
                <span th:text="${option.optionDesc}"></span>
            </p>
        </div>
    </div>
</th:block>
</body>
</html>